<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration</title>

</head>
<body>
  <%- include('link') %>
  <%- include('header') %>


  <br>

  <div class="container-lg mt-3">
    <h2>Administration</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#configCon">Configuration de Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#configComm">Configuration de Complexité du mot de passe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#configMod">Configuration de Modification de mot de passe</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
  </div>

<%- include('footer') %> <!-- Inclure le footer -->
</body>
</html>