<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration</title>
</head>
<body>
  <%- include('link') %>
  <%- include('header') %>

  <br>

  <div class="container-lg mt-3">
    <h2>Administration</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#configCon">Configuration de Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="configCompTab" data-toggle="tab" href="#configComp">Configuration de Complexité du mot de passe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#configMod">Configuration de Modification de mot de passe</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="configCon" class="container tab-pane active"><br>
        <h3>Configuration de Connexion</h3>
        <form>
          <div>
            <label for="tentAvantBlocked">Tentatives avant de bloquer le compte</label>
            <input type="number" id="attemptsBlocked" name="attemptsBlocked">
          </div>
          <div>
            <label for="tempBetweenTent">Temps entre les tentatives (secondes)</label>
            <input type="number" id="timeBetweenAttempts" name="timeBetweenAttempts">
          </div>
          <div>
            <label for="adminPasswordForConnexionModif">Mot de passe (pour confirmation)</label>
            <input type="password" id="adminPasswordForConnexionModif" name="adminPasswordConnexionModif" required>
          </div>
          <div>
            <button type="submit">Modifier</button>
          </div>
        </form>
      </div>
      <div id="configComp" class="container tab-pane fade"><br>
        <h3>Configuration de Complexité du mot de passe</h3>
        <form id="password-settings-form">
          <div>
            <label for="requireCapital">Requiert une lettre majuscule</label>
            <label class="switch"> 
            <input type="checkbox" id="requireCapital" name="requireCapital">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="requireLowercase">Rquiert une lettre minuscule</label>
            <label class="switch"> 
            <input type="checkbox" id="requireLowercase" name="requireLowercase">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="requireNumber">Requiert un chiffre</label>
            <label class="switch"> 
            <input type="checkbox" id="requireNumber" name="requireNumber">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="requireSpecial">Requiert un caractère spécial</label>
            <label class="switch"> 
            <input type="checkbox" id="requireSpecial" name="requireSpecial">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="minLength">Longueur minimum du mot de passe</label>
            <input type="number" id="minLength" name="minLength" min="1">
          </div>
          <div>
            <label for="maxLength">Longueur maximum du mot de passe</label>
            <input type="number" id="maxLength" name="maxLength" min="1">
          </div>
          <div>
            <label for="adminPassword">Mot de passe (pour confirmation)</label>
            <input type="password" id="adminPassword" name="adminPassword" required>
          </div>
          <div>
            <button type="submit">Modifier</button>
          </div>
        </form>
      </div>
      <div id="configMod" class="container tab-pane fade"><br>
        <h3>Configuration de Modification de mot de passe</h3>
        <form id="password-settings-form-modifyPass">
          <div>
            <label for="differentFromXLastPwd">Réutilisation d'un mot de passe après un nombre de modifications</label>
            <input type="number" id="differentFromXLastPwd" name="differentFromXLastPwd" min="1">
          </div>
          <div>
            <label for="timeModifPass">Temps entre modification obligatoire de mot de passe (minutes)</label>
            <input type="number" id="expireAfterXMinutes" name="expireAfterXMinutes">
          </div>
          <div>
            <label for="adminPasswordForModif">Mot de passe (pour confirmation)</label>
            <input type="password" id="adminPasswordForModif" name="adminPasswordForModif" required>
          </div>
          <div>
            <button type="submit">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="admin.js"></script>
<%- include('footer') %> <!-- Inclure le footer -->
</body>
</html>
