<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration</title>
</head>
<body>
  <%- include('link') %>
  <%- include('header') %>

  <br>

  <div class="container-lg mt-3">
    <h2>Administration</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#configCon">Configuration de Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="configCompTab" data-toggle="tab" href="#configComp">Configuration de Complexité du mot de passe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#configMod">Configuration de Modification de mot de passe</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="configCon" class="container tab-pane active"><br>
        <h3>Configuration de Connexion</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="configComp" class="container tab-pane fade"><br>
        <h3>Configuration de Complexité du mot de passe</h3>
        <form id="password-settings-form">
          <div>
            <label for="requireCapital">Require a capital letter</label>
            <label class="switch"> 
            <input type="checkbox" id="requireCapital" name="requireCapital">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="requireLowercase">Require a non-capital letter</label>
            <label class="switch"> 
            <input type="checkbox" id="requireLowercase" name="requireLowercase">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="requireNumber">Require a number</label>
            <label class="switch"> 
            <input type="checkbox" id="requireNumber" name="requireNumber">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="requireSpecial">Require a special character</label>
            <label class="switch"> 
            <input type="checkbox" id="requireSpecial" name="requireSpecial">
            <span class="slider round"></span>
            </label>
          </div>
          <div>
            <label for="minLength">Minimum password length:</label>
            <input type="number" id="minLength" name="minLength" min="1">
          </div>
          <div>
            <label for="maxLength">Maximum password length:</label>
            <input type="number" id="maxLength" name="maxLength" min="1">
          </div>
          <div>
            <label for="adminPassword">Re-enter your password:</label>
            <input type="password" id="adminPassword" name="adminPassword" required>
          </div>
          <div>
            <button type="submit">Modify</button>
          </div>
        </form>
      </div>
      <div id="configMod" class="container tab-pane fade"><br>
        <h3>Configuration de Modification de mot de passe</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
  </div>
  <script src="admin.js"></script>
<%- include('footer') %> <!-- Inclure le footer -->
</body>
</html>
