<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tableau de bord</title>
  <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <%- include('header') %>

  <br>

  <header>
  <h1>Tableau de bord</h1>
  <form action="/newPWD" method="POST" id="change-password-form">
    <div>
      <label for="oldpassword">Ancien mot de passe:</label>
      <input type="password" id="oldpassword" name="oldpassword" required>
    </div>
    <div>
      <label for="newpassword">Nouveau mot de passe:</label>
      <input type="password" id="newpassword" name="newpassword" required>
    </div>
    <div>
      <label for="confirm-password">Confirmer le nouveau mot de passe:</label>
      <input type="password" id="confirmpassword" name="confirmpassword" required>
    </div>
    <button type="submit">Changer le mot de passe</button>
  </form>
  <%- include('footer') %>
  <script src="newPWD.js"></script>
</body>
</html>