<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>Membres de l'équipe :</p>
          <ul>
            <li>Adrian Sanchez Roy, </li>
            <li>Kevin Duong, </li>
            <li>Corentin Seguin, </li>
            <li>Ines Abdelkefi
            </li>
          </ul>
        </div>
            <div class="col-sm-12 text-center">
              <p>GTI 619</p>
            </div>
    </div>
  </footer>
  
  <style>

  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      display: inline-block;
      margin-right: 10px;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 20px 0;
        display: inline-block;
    }

    footer p {
        margin: 0;
    }

    .container {
        width: 100%;
        max-width: 50%;
        margin: 0 auto;
    }


  </style>
  