
  <header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="#">
            <img src="https://www.etsmtl.ca/getmedia/f6b1f0f3-c9d2-42b6-b25f-b9576b0295ba/Logo_ETS_TypoGrise_D_FR" alt="Logo" style="width:50%;">
          </a>


      <formHeader class="header" action="/logout" method="POST" id="logout-form">
        <decoBut type="submit">Se déconnecter</decoBut>
      </formHeader>
    </nav>
  </header>
  