


  <header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-right">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard"> Tableau de bord </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin"> Administration </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clients/business"> Clients Affaires </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clients/residential"> Clients Résidentiels </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users"> Utilisateurs </a>
        </li>
      </ul>
    </nav>
  </header>
  <br>