<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>All Users</h1>
  <form action="/addUser" method="POST">
    <button type="submit">Add User</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user) => { %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.username %></td>
          <td><%= user.roles[0].name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>