* {
    box-sizing: border-box;
  }
  
  .v1_2 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  user {
    width: 529px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 445px;
    left: 703px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  pwd {
    width: 529px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 609px;
    left: 703px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  
  img {
    width: 560px;
    height: 328px;
    background: url("../images/v1_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 680px;
    overflow: hidden;
  }
  body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  
  div {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
  outline: none;
  }
  
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  